<h1>Dashboard </h1>
<p>Você está no painel pricipal.</p>
<div style="
flex-direction: row;display: -webkit-inline-box;flex-wrap: wrap;
">
  <div class="card" routerLink="pokemons" routerLinkActive="active">
    <div class="card-head">Pokemons</div>
    <div class="card-body">
      <i class="sidenav-link-icon fas fa-dragon"></i>
      <span class="sidenav-link-text">
        <h4>Enconte aquele Pokemon que você estava procurando!</h4>
        <h5>Pesquise o nome ou id do pokemon.</h5>
      </span>
    </div>
  </div>
  <div class="card" routerLink="tipos">
    <div class="card-head">Tipos</div>
    <div class="card-body">
      <i class="sidenav-link-icon fas fa-fire"></i>
      <span class="sidenav-link-text">
        <h4>Pesquise pelo Tipo do pokemon !</h4>
        <h5>Encontre todos os pokemons de um determinado tipo.</h5>
      </span>
    </div>
  </div>
  <div class="card" routerLink="game">
    <div class="card-head">Game</div>
    <div class="card-body">
      <i class="sidenav-link-icon fas fa-gamepad"></i>
      <span class="sidenav-link-text">
        <h4>O famoso game "Quem é esse pokemon?".</h4>
        <h5>É só selecionar a geração que você mais gosta e se divertir!</h5>
      </span>
    </div>
  </div>
</div>