.tipo {
  border-radius: 4px;
  height: 30px;
  width: 90px;
  -webkit-filter: saturate(100%) brightness(110%);
  filter: saturate(100%) brightness(110%);
  transition: all .2s;
  margin: 0 0 0 15px;
}

img {
  margin: 20%;
  vertical-align: middle;
  border-style: none;
}

.SubSections .row .col {
  flex-basis: unset;
}