<h1>Detalhes</h1>
<div class="container-fluid" style="padding-left: 2rem;
padding-right: 2rem; border-radius: 10px;" [ngStyle]="{background: colorType(pokemon?.types[0])+'82'}">

  <div class="content" *ngIf=" pokemon">
    <div>

      <div class="title">
        <div class="subgrid">
          <div class="number">#{{number}}</div>
          <div class="name">{{pokemon?.name}}</div>
          <div class="details">
            <div class="row">
              <span>Altura</span>
              <span>{{(pokemon.height * 10) / 100}}m</span>
            </div>
            <div class="row">
              <span>Peso </span>
              <span>{{(pokemon.weight * 100) / 1000}}kg</span>
            </div>
            <div style="display: flex; padding: 5px 0 0 0px;">
              <app-type-badge *ngFor="let type of pokemon.types" [id]="type"></app-type-badge>
            </div>
          </div>
        </div>

        <div class="picture">
          <img [src]="pokemon.sprites.official" [alt]="pokemon.name">
        </div>
      </div>

      <div class="stats">
        <div>
          <div class="title">Status</div>
          <div class="graphics">
            <app-poke-status *ngFor=" let status of pokemon.stats" [status]="status">
            </app-poke-status>
          </div>
        </div>
        <div style="padding-top: 10px;">
          <div class="title">Habilidades</div>
          <div class="habilidades">
            <span *ngFor="let abilidades of pokemons?.abilities" [ngStyle]="{background: colorType(pokemon?.types[0])}"
              style="border-radius: 2px;
          padding: 2px 3px;
          margin-right: 6px;line-height: normal;">
              <span class="text-uppercase"
                style="color: white; border-radius: 2px; white-space: nowrap; display: unset; margin-top: 0px;">{{
                abilidades.ability?.name}}</span>
            </span>
          </div>
        </div>
      </div>

    </div>
  </div>