.content {
	position: relative;

	width: auto;
	display: flex;
	color: #193c6c;
	z-index: 3;
	transition: opacity padding 0.5s ease-in-out;
}

.content>div {
	width: 100%;
}

.title {
	display: flex;
	justify-content: stretch;
	align-items: center;
	width: 95%;
	height: 60%;
}

.stats .title {
	width: min-content;
	box-sizing: border-box;
	padding-left: 140px;

	font-weight: 700;
	font-size: 30px;
}

.subgrid {
	display: flex;
	flex-direction: column;
	height: 10rem;
	align-items: flex-end;
	justify-content: end;
	padding-left: 140px;
	height: 50%;
	width: 49%;

}

.subgrid .name {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 4rem;
	color: #193c6c;
	text-transform: capitalize;
	height: 27px;
	width: 100%;
	z-index: 2;
}

.row .name {
	width: 150px;
	text-transform: capitalize;
}

.details {
	grid-area: details;
	position: absolute;
	left: 145px;
	width: 305px;
	top: 280px;
	height: 80px;

}

.details .row {
	display: flex;
	text-transform: capitalize;
	justify-content: space-between;
	width: 305px;
	margin-left: 5px;


}

.details .row :first-child {
	font-weight: bold;
	width: 63px;
}

.details .row :last-child {
	width: 63px;
	text-align: end;
	font-family: 'Montserrat', sans-serif;
}

.picture {
	height: 370px;
	width: 375px;
	z-index: 2;
	padding-top: 85px;
}

img {
	height: 287px;
}


.stats {
	display: flex;
	justify-content: flex-start;
	align-items: baseline;
	height: 40%;
	padding-top: 10px;


}

.number {
	position: absolute;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-size: 270px;

	color: rgba(255, 255, 255, 0.18);
	user-select: none;
	left: 152px;
	top: 119px;
	z-index: 1;
}

.habilidades {
	padding: 20px 0 0 220px;
}

.graphics {
	padding: 5px 0 0 190px;
}

h1 {
	font-size: 36px;
	font-weight: 500;
	color: #193c6c;
	margin: 0px 0 20px 0;
}