<div>
  <tr style="display: flex;">
    <td class="text-right font-weight-bold" style="white-space: nowrap;width: 91px; padding-right: 20px;">
      {{ statusNames.get(status.stat.name).name }}</td>
    <td colspan="3">
      <div class="progress" style="width: 226px;">
        <div class="progress-bar progress-bar-striped progress-bar-animated rounded-sm" role="progressbar" [ngStyle]="{
          width: status.base_stat + '%'
        }" aria-valuemin="0" aria-valuemax="250" id="aling">
          <span> {{ status.base_stat }} </span>
        </div>
      </div>
    </td>
  </tr>
  <tr></tr>
</div>