span {
  padding-right: 4px;
  color: #fff !important;
  font-size: 1rem;
  text-align: right;
  white-space: nowrap;
}

td {
  padding: 0.26rem;
  vertical-align: top;
}

.progress-bar {
  background-color: #193c6c !important;

}