:root {
  --primary-bg: #000000;
  --border-radius: 25px;
  --filter-shadow: drop-shadow(0px 0px 0px black);
  --branco: #fff;
  --cinza: #EFEFEF;
  --preto-claro: #4d5168;
  --secondary-color: #ff5479;
}