:root {
  --primary-bg: #333333;
  --border-radius: 15px;
  --filter-shadow: drop-shadow(2px 4px 6px black);
  --branco: #fff;
  --cinza: #EFEFEF;
  --preto-claro: #4d5168;
  --secondary-color: #ff5479;
}