section {
  background-color: var(--branco);
  padding: 20px;

  &.form {
    margin: 0 auto;
    position: relative;
    width: 55vw;
    background-color: var(--branco);
    border-radius: 25px !important;
    border: 1px solid #d9d5d5a3;
    transition: 0.2s ease-in-out;

    &:hover {
      transition: 0.3s ease-in-out;
      box-shadow: 0rem 2rem 2rem rgba(0, 0, 0, 18%) !important;

    }

  }

  h2 {
    color: var(---primary-bg);
    text-align: center;
  }
}

h5,
p {
  background-color: #0000008f;
  font-size: 15px;
  border-radius: 7px !important;
  top: 2%;
}

mat-tab-group {

  background-image:
    linear-gradient(to bottom, rgb(251, 251, 248), rgba(250, 250, 254, 0)),
    url('../../../assets/container_bg.png');
}

mat-tab {
  background-color: var(--branco);
}

.responsive-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  padding: rem-calc(20) 0;
  margin-bottom: 20px;
}

.type--container {
  display: grid;
  grid-template: 1fr / repeat(auto-fill, minmax(110px, 1fr));
  gap: 10px;
  margin-top: 10px;
  padding: 10px 0;
}

.game--container {
  flex-direction: column;
  position: relative;
  z-index: 100;

  h2 {
    margin-top: 15px;
    text-align: center;
    color: var(---primary-bg);
  }
}