@import './Config-scss/rem-calc.scss';
@import './Config-scss/reset.scss';
@import './Config-scss/btn.scss';
@import './Config-scss/animation.scss';
@import './assets/css/variables.scss';

@import '~bootstrap/scss/bootstrap';






/* Imports de váriaveis de CSS */

/* CSS adicionado pelo Angular Material */
html,
body {
  text-rendering: optimizeLegibility;
  touch-action: manipulation;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

* {
  font-family: 'Lato', sans-serif
}

/* CSS especifico de classes */
header.page-title {
  background-color: white;
  display: flex;
  height: 200px;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  margin-bottom: 10%;


  h1 {
    font-size: clamp(2rem, 10vw, 5rem);
    color: black;
    text-transform: capitalize;
    position: relative;
    z-index: 100;
  }
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #333333b6;
  z-index: 100;
  top: 0;
  left: 0;
}

button.back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 100;
}

.question-mark {
  height: 200px;
  width: auto;
  cursor: pointer;
  animation: float 4s ease-in-out infinite;
}

/* Utilitários */
.responsive-grid {
  display: grid;
  grid-template: 1fr / repeat(auto-fit, minmax(260px, 1fr));
  gap: 15px;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Animações de css */
@keyframes show {
  from {
    transform: scale(0.3);
  }

  to {
    transform: scale(1);
  }
}

@keyframes float {
  30% {
    transform: rotate3d(1, 2, 2, 15deg) scale(1.1);
  }

  60% {
    transform: rotate3d(1, 2, 2, -15deg) scale(.9);
  }

  100% {
    transform: rotate3d(0, 0, 0, 0deg) scale(1);
  }
}

@keyframes reveal {
  from {
    filter: brightness(0);
  }

  to {
    filter: brightness(1);
  }
}