<article class="pokecard" [ngStyle]="{'background': generateCardBackground(pokemon.types)}">
  <p class="pokecard__pokemon">
    <span class="pokecard__pokemon__number">#{{ number }}</span>
  </p>
  <div class="col-xs-5 col-3" style="padding: 0; left: 83%;top: 3%;position: absolute;">
    <div *ngFor="let type of pokemon.types">
      <div [ngSwitch]="type.type.name">
        <div class="icon bug" *ngSwitchCase="'bug'"><img alt="" src="assets/type-icons/png/bug.png"></div>
        <div class="icon dark" *ngSwitchCase="'dark'"><img alt="" src="assets/type-icons/png/dark.png"></div>
        <div class="icon dragon" *ngSwitchCase="'dragon'"><img alt="" src="assets/type-icons/png/dragon.png"></div>
        <div class="icon electric" *ngSwitchCase="'electric'"><img alt="" src="assets/type-icons/png/electric.png">
        </div>
        <div class="icon fire" *ngSwitchCase="'fire'"><img alt="" src="assets/type-icons/png/fire.png"></div>
        <div class="icon fairy" *ngSwitchCase="'fairy'"><img alt="" src="assets/type-icons/png/fairy.png"></div>
        <div class="icon fighting" *ngSwitchCase="'fighting'"><img alt="" src="assets/type-icons/png/fighting.png">
        </div>
        <div class="icon flying" *ngSwitchCase="'flying'"><img alt="" src="assets/type-icons/png/flying.png"></div>
        <div class="icon ghost" *ngSwitchCase="'ghost'"><img alt="" src="assets/type-icons/png/ghost.png"></div>
        <div class="icon grass" *ngSwitchCase="'grass'"><img alt="" src="assets/type-icons/png/grass.png"></div>
        <div class="icon ground" *ngSwitchCase="'ground'"><img alt="" src="assets/type-icons/png/ground.png"></div>
        <div class="icon ice" *ngSwitchCase="'ice'"><img alt="" src="assets/type-icons/png/ice.png"></div>
        <div class="icon normal" *ngSwitchCase="'normal'"><img alt="" src="assets/type-icons/png/normal.png"></div>
        <div class="icon poison" *ngSwitchCase="'poison'"><img alt="" src="assets/type-icons/png/poison.png"></div>
        <div class="icon psychic" *ngSwitchCase="'psychic'"><img alt="" src="assets/type-icons/png/psychic.png"></div>
        <div class="icon rock" *ngSwitchCase="'rock'"><img alt="" src="assets/type-icons/png/rock.png"></div>
        <div class="icon steel" *ngSwitchCase="'steel'"><img alt="" src="assets/type-icons/png/steel.png"></div>
        <div class="icon water" *ngSwitchCase="'water'"><img alt="" src="assets/type-icons/png/water.png"></div>
      </div>
    </div>
  </div>

  <div class="pokecard__images">
    <img class="pokecard__images__pokeball" src="../../../assets/images/pokeball_1.png" alt="pokeball" />
    <img class="pokecard__images__sprite" [src]="pokemon.sprites['official'] || pokemon.sprites['front']"
      [alt]="pokemon.name" />
  </div>
  <div class="pokecard__info">
    <p class="pokecard__images__name">
      {{ pokemon.name}}
    </p>
    <div class="pokecard__info__extra">
      <div><small>Altura:</small>
        <p class="pokecard__info__extra__height">{{pokemon.height / 10}}m</p>
      </div>
      <div>
        <small>Peso:</small>
        <p class="pokecard__info__extra__weight">{{(pokemon.weight * 100) / 1000}}kg</p>
      </div>
    </div>
  </div>
</article>